[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=monitoring
Group=monitoring
Type=simple
ExecStart={{ mysqld_dir }}/mysqld_exporter \
    --web.listen-address="0.0.0.0:{{ mysqld_port }}" \
    --config.my-cnf="{{ mysqld_dir }}/.my.cnf"

[Install]
WantedBy=multi-user.target
